@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
h1{
    font-size: 50px;
}
h1 span{
    color: blueviolet;

}
.flexible-container{
    display: flex;
}
.half-width{
    width: 100%;
    padding-bottom: 20%;
    padding-left: 5%;

}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(23, 9, 49);
    padding: 10px 30px;
    color: cornsilk;
    text-transform: uppercase;
    border-radius: 5px;
}
.link-button:hover{
    background-color: orange;
    color: darkblue;
    font-size: 1rem;
    font-weight: 800;

}
.top-banner{
    background-image: url(./a.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(./b.jpg);
    background-repeat: no-repeat;
}
.container{
    box-sizing: border-box;
    display: flex;
}
.column{
    padding: 5px;
    flex: 33.33%;
}
.experiences h2{
    text-align: center;
}
footer p{
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: blanchedalmond;
}